/* Mobile styles (default) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #ddd9d2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*full height*/
}

.navbar {
    display: sticky;
    position: fixed;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #071836; /*Main Gray*/
    flex: 1;
    z-index: 1000;}

.navbar-title {
    color: #ddd9d2;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Georgia", serif;
}

.navbar-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 5px;
}

.navbar ul li {
    color: #ddd9d2;
}

.navbar ul li a {
    color: #ddd9d2;
    font-size: 1.1rem;
    cursor: pointer;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* .inputSearch {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100px;
} */

/* .time {
    display: flex;
    position: fixed;
    color: #ddd9d2;
    
}

.time h5 {
    /* top: 5%;
    right: 30%; */
    /* transform: translate(-50%, -50%); 
    font-size: 15px;
    margin-bottom: 10px;
} */ 

.news-container {
    flex: 1; /* Push footer down */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds spacing between articles */
}

.news-item {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.news-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.news-item h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.news-item p {
    font-size: 1rem;
    color: #333;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: black;
}

.footer {
    position: relative;
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: #071836;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
}

h6 {
    color: #ddd9d2;
    text-align: center;
    margin: 5px;
}

/* For larger screens*/
@media (min-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navbar-links {
        flex-direction: row;
        gap: 20px;
    }

    .navbar-title {
        margin: 10px;
        font-size: 40px;
    }

    .time h5 {
        /* top: 10%; */
        /* right: 60%; */
        margin-bottom: 15px;
        font-size: 20px;
    }

    .footer {
        position: relative;
    }
}